<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="container">
        <h2>Реєстрація</h2>
        <form action="{{ url_for('auth.register') }}" method="post">
            <label for="username">Ім'я користувача:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Зареєструватися</button>
        </form>
        <p>Вже є обліковий запис? <a href="{{ url_for('auth.login') }}">Увійти</a></p>
    </div>>
</body>
</html>