<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Завантаження файлу</title>
    <link rel="stylesheet" href="../static/css/upload.css">
</head>
<body>
    <div class="container">
        <h2>Завантаження файлу</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Оберіть файл для завантаження:</label>
            <input type="file" id="file" name="file" required><br><br>
            <button type="submit">Завантажити</button>
        </form>
    </div>>
</body>
</html>
